 h3 strong {
     display: block;
     font-size: 75%;
     opacity: 1;
 }

.status-bar {
  margin: 0px 1px;
  display: flex;
  gap: 1px;
}

.status-bar-field {
  box-shadow: inset -1px -1px  #dfdfdf, 
    inset 1px 1px #808080;
  flex-grow: 1;
  padding: 2px 3px;
  margin: 0;
  font-weight: bold;
}

.name{
    margin: 0px;
}

aside {
  width: 200px;
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 8px;
  display: flex;
  align-items: stretch;
}

aside .tree-view {
  width: 100%;
  /* TODO: Move scrollbar into the recessed region? */
  overflow-y: scroll;
}

body{
  background-color: #008080  ;
}

main {
  width: 65rem;
  margin-left: 240px;
  margin-bottom: 60px;
}